        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .certificate_container{
            max-width: 1100px;
            min-width: 1100px;
            position: relative;
            margin: 0 auto;
            width: 100%;
        }
        .sertifikat_bg{
            width: 100%;
            min-width: 100%;
            object-fit: cover;
        }
        /* #0f5a32 */
        .certifikat_heading{
            background: #0f5a32;
            position: absolute;
            color: #fff;
            left: 0;
            top: 100px;
            padding: 10px 60px 5px;
            width: 480px;
        }
        .certifikat_heading span{
            font-size: 11px;
            letter-spacing: 0.9px;
            color: #dedede;
        }
        .certifikat_heading p{
            font-size: 13px;
            letter-spacing: 0.9px;
            padding: 1px 0 0 0;
        }
        .main_content{
            position: absolute;
            top: 135px;
            padding: 40px 0 40px 60px;
        }
        h1{
            font-size: 67px;
            font-weight: 400;
            letter-spacing: 5px;
            color: #0f5a32;
        }
        .main_content p{
            color: #847b5c;
            font-size: 24px;
            /* padding: 8px 0 0; */
            font-family:Arial, Helvetica, sans-serif;
            font-weight: 400;
            letter-spacing: 1px;
        }
        .main_content_user{
            padding: 50px 0;
            max-width: 530px;
            text-align: center;
            font-family: "Roboto", sans-serif;
            color: #847b5c;
        }
        .main_content_user h2{
            font-size: 50px;
            font-weight: 400;
            padding: 0 0 4px;
        }
        .main_content_user span{
            width: 100%;
            height: 3px;
            display: block;
            border-radius: 50%;
            background: #0f5a32;
        }
        .main_content_user p{
            padding: 14px 0 0;
            color: #000;
            font-size: 22px;
            line-height: 34px;
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
        }
        .main_content_all{
            /* position: absolute; */
            /* bottom: 80px; */
        }
.main_content_bottom{
    font-family: "Open Sans", sans-serif;
    position: relative;
}
.main_content_bottom span{
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
}
.bottom_date{
    position: absolute;
    bottom: 70px;
    left: 60px;
}
.bottom_date_number{
    display: flex;
    padding: 5px 0 0;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
} 
.bottom_date_number b,.bottom_date_number p{
    font-size: 17px;
       font-weight: 400;
       line-height: 17px;
}
.bottom_date_number p{
    padding: 4px 0 0;
}
.signature {
    text-align: center;
    position: absolute;
    bottom: 70px;
    left: 470px;
}
.signature img{
    width: 140px;
}
.signature p{
    font-size: 18px;
}
.logo_section{
    position: absolute;
    right: 250px;
    top: 100px;
    display: flex;
    font-family: "Open Sans", sans-serif;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.logo_section img{
    width: 140px;
}
.qr_section{
    display: flex;
    flex-direction: column;
    gap: 1px;
    text-align: center;
    color: #0f5a32;
    align-items: center;
}
.qr_section img{
    width: 100px;
    border: 1px solid #0f5a32;
    padding: 8px;
    border-radius: 10px;
}
.qr_section strong{
    font-size: 13px;
    padding: 5px 0 0;
}
.qr_section span{
    width: 200px;
    font-size: 11px;
    font-weight: 500;
}